# reference: https://gist.github.com/nateware/3987720
# http://chase-seibert.github.io/blog/2011/02/26/haproxy-quickstart-w-full-example-config-file.html

global
    maxconn         10000
    ulimit-n        65536
    log             127.0.0.1       local0
    log             127.0.0.1       local1 notice

    # SSL-enanbled parameters
    ssl-default-bind-ciphers kEECDH+aRSA+AES:kRSA+AES:+AES256:RC4-SHA:!kEDH:!LOW:!EXP:!MD5:!aNULL:!eNULL
    tune.ssl.default-dh-param 2048

defaults
    log     global
    mode    http
    option  httplog
    option  tcplog
    option  forwardfor
    option  http-server-close

    # timeout configuration
    timeout client  180s
    timeout connect 180s
    timeout server  180s

    # for websockets
    timeout tunnel  3600s

{% for port, services in ports.items() -%}
{% for service in services -%}
backend {{ service.name }}_{{ port }}
    {% for ip in ips -%}
    server ip-{{ ip }} {{ ip }}:{{ service.node_port }}
    {% endfor %}
{% endfor -%}

frontend frontend_{{ port }}
    bind 0.0.0.0:{{port}}
    {% set default_service = services[0] -%}

    {% for service in services -%}
    {% if service.hostname -%}
    acl service_{{ service.name }} hdr(host) -i {{ service.hostname }}
    use_backend {{ service.name }}_{{ port }} if service_{{ service.name }}
    {% endif -%}
    {% endfor -%}

    default_backend {{ services[0].name }}_{{ port }}

{% endfor %}
